{% extends 'layout.html' %}
{% block content %}
<wired-card class="entire_single">
	<div class="chat-head">
		<span class="chat-header-left">{{ userName }}</span>
		<span class="chat-header-right"><a href="/lobby" id="exit-btn">방 나가기</a></span>
	</div>
	<div class="container" id="chat-list"> <!--TODO 스크롤 되는지 확인-->
		<div id="scroll">
			{% for chat in chats %}
		{% if chat.user === user %}
			<div class="mine" style="color: {{chat.user}}">
			<div>{{chat.user}}</div>
			{% if chat.gif %}}
				<img src="/gif/{{chat.gif}}">
			{% else %}
				<div>{{chat.chat}}</div>
			{% endif %}
			</div>
		{% elif chat.user === 'system' %}
			<div class="system">
			<div>{{chat.chat}}</div>
			</div>
		{% else %}
			<div class="other" style="color: {{chat.user}}">
			<div>{{chat.user}}</div>
			{% if chat.gif %}
				<img src="/gif/{{chat.gif}}">
			{% else %}
				<div>{{chat.chat}}</div>
			{% endif %}
			</div>
		{% endif %}
		{% endfor %}
		</div>
		
	</div>
	<!----------------- 입력 영역 ----------------->
	<!-- <div id="chat-form">
		<wired-input id="chat" name="chat" placeholder="입력해주세요"></wired-input>
		<wired-button>전송</wired-button> 
	</div> -->

	<form action="/data" id="chat-form" method="post" enctype="multipart/form-data">
		<input type="text" id="chat" name="chat"></input>
		<button type="submit">전송</button>
	</form>
</wired-card>
  
{% endblock %}

{% block script %}
<script>

	const socket = io.connect('http://localhost:3000/chat', {
		path: '/socket.io',
	});

	// 입장 문구
	socket.on('join', function (data) {
		console.log(data);
		const div = document.createElement('div');
		div.classList.add('system');
		const chat = document.createElement('div');
		div.textContent = data.chat;
		div.appendChild(chat);
		document.querySelector('#chat-list').appendChild(div);
		document.getElementById('chat-list').scrollTop = document.getElementById('chat-list').scrollHeight;
	});

	// 퇴장 문구
	socket.on('exit', function (data) {
		console.log(data);
		const div = document.createElement('div');
		div.classList.add('system');
		const chat = document.createElement('div');
		div.textContent = data.chat;
		div.appendChild(chat);
		document.querySelector('#chat-list').appendChild(div);
		document.getElementById('chat-list').scrollTop = document.getElementById('chat-list').scrollHeight;
	});

	// 사용자간 채팅
	socket.on('chat', function (data) {
		const div = document.createElement('div');
		if (data.user === '{{userName}}') {
			div.classList.add('mine');
		} else {
			div.classList.add('other');
		}
		const name = document.createElement('div');
		name.textContent = data.user;
		div.appendChild(name);
		document.getElementById('chat-list').scrollTop = document.getElementById('chat-list').scrollHeight;
		if (data.chat) {
			const chat = document.createElement('div');
			chat.textContent = data.chat;
			div.appendChild(chat);
			document.getElementById('chat-list').scrollTop = document.getElementById('chat-list').scrollHeight;
		} else {
			const gif = document.createElement('img');
			gif.src = '/gif/' + data.gif;
			div.appendChild(gif);
			document.getElementById('chat-list').scrollTop = document.getElementById('chat-list').scrollHeight;
		}
		div.style.color = data.user;
		document.querySelector('#chat-list').appendChild(div);
		document.getElementById('chat-list').scrollTop = document.getElementById('chat-list').scrollHeight;


	});
	
	document.querySelector('#chat-form').addEventListener('submit', function (e) {
		console.log('submit 누름');
		e.preventDefault();
		console.log(e.target);
		if (e.target.chat.value) {
			
			axios.post('/chat/data', {
			chat: this.chat.value,
			})
			.then(() => {
				e.target.chat.value = '';
			})
			.catch((err) => {
				console.error(err);
			});
		}
		document.getElementById('chat-list').scrollTop = document.getElementById('chat-list').scrollHeight;
	});
	
</script>
{% endblock %}