{% extends 'layout.html' %}
{% block content %}
<wired-card class="entire_single">
	<div class="chat-head">
		<span class="chat-header-left">방 이름1as233d</span>
		<span class="chat-header-right"><a href="/lobby" id="exit-btn">방 나가기</a></span>
	</div>
	<wired-card class="container" id="chat-list"> <!--TODO 스크롤 되는지 확인-->
		{% for chat in chats %}
		{% if chat.user === user %}
			<div class="mine" style="color: {{chat.user}}">
			<div>{{chat.user}}</div>
			{% if chat.gif %}}
				<img src="/gif/{{chat.gif}}">
			{% else %}
				<div>{{chat.chat}}</div>
			{% endif %}
			</div>
		{% elif chat.user === 'system' %}
			<div class="system">
			<div>{{chat.chat}}</div>
			</div>
		{% else %}
			<div class="other" style="color: {{chat.user}}">
			<div>{{chat.user}}</div>
			{% if chat.gif %}
				<img src="/gif/{{chat.gif}}">
			{% else %}
				<div>{{chat.chat}}</div>
			{% endif %}
			</div>
		{% endif %}
		{% endfor %}
	</wired-card>
	<!----------------- 입력 영역 ----------------->
	<div id="chat-form">
		<wired-input id="chat" name="chat" placeholder="입력해주세요"></wired-input>
		<wired-button>전송</wired-button> 
	</div>
</wired-card>
  
{% endblock %}
<script>
	const socket = io.connect('http://localhost:3000/chat', {
		path: '/socket.io',
	});

	// 입장 문구
	socket.on('join', function (data) {
		const div = document.createElement('div');
		div.classList.add('system');
		const chat = document.createElement('div');
		div.textContent = data.chat;
		div.appendChild(chat);
		document.querySelector('#chat-list').appendChild(div);
	});

	// 퇴장 문구
	socket.on('exit', function (data) {
		const div = document.createElement('div');
		div.classList.add('system');
		const chat = document.createElement('div');
		div.textContent = data.chat;
		div.appendChild(chat);
		document.querySelector('#chat-list').appendChild(div);
	});

	// 사용자간 채팅
	socket.on('chat', function (data) {
		const div = document.createElement('div');
		if (data.user === '{{user}}') {
			div.classList.add('mine');
		} else {
			div.classList.add('other');
		}
		const name = document.createElement('div');
		name.textContent = data.user;
		div.appendChild(name);
		if (data.chat) {
			const chat = document.createElement('div');
			chat.textContent = data.chat;
			div.appendChild(chat);
		} else {
			const gif = document.createElement('img');
			gif.src = '/gif/' + data.gif;
			div.appendChild(gif);
		}
		div.style.color = data.user;
		document.querySelector('#chat-list').appendChild(div);
	});
	document.querySelector('wired-button').addEventListener('click', function (e) {
		console.log('submit 누름');
		// e.preventDefault();
		// if (e.target.chat.value) {
		// 	axios.post('/room/{{room._id}}/chat', {
		// 	chat: this.chat.value,
		// 	})
		// 	.then(() => {
		// 		e.target.chat.value = '';
		// 	})
		// 	.catch((err) => {
		// 		console.error(err);
		// 	});
		// }
	});
</script>
{"mode":"full","isActive":false}