<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta property="og:title" content="Sejong.GG" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://lol-quiz.herokuapp.com/" />
        <meta property="og:image" content="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/35408cd1-e7fe-406d-84f4-be749c632667/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210716%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210716T065023Z&X-Amz-Expires=86400&X-Amz-Signature=8c1243842c05b5a82b8c937ad9ac23947e5d7354698d197339c5df122c179434&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22" />
        <link rel="stylesheet" href="/main.css">
		    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
		    <script type="module" src="https://unpkg.com/wired-elements?module"></script>
    </head>
    <body>
		{% block content %}
        {% endblock %}
    </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% block script %}
{% endblock %}