<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/main.css">
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
		<script type="module" src="https://unpkg.com/wired-elements?module"></script>
    </head>
    <body>
		{% block content %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>