{% extends 'layout.html' %}

{% block content %}
<wired-card class="entire_lobby" elevation="5" >
	<div class="ranking">
		<wired-button onclick="location.href='/rank'" class="ranking" elevation="3">랭킹 확인</wired-button>
	</div>
	<br>
	<div>
		<h3 class="menu">게임 메뉴</h3>
	</div>
	<wired-card elevation="3" id="box">
		<div id="label">
			<wired-link elevation="1" href="/loading" style="color: white;">싱글 게임 하기</wired-link>
			<ul class="explain">
				<li>롤 챔피언에 대해 얼마나 알고 계신가요?</li>
				<li>챔피언의 특징을 찾아 문제를 맞춰보세요!</li>
			</ul>
		</div>
	</wired-card>

	<wired-card elevation="3" id="box">
		<div id="label">
			<wired-link elevation="1" href="/chat" style="color: white;">채팅방 입장</wired-link>
			<ul class="explain">
				<li>롤 얘기를 할 수 있는 친구가 필요하다면?</li>
				<li>채팅방에서 다른 유저들과 문제를 공유해보세요!</li>
			</ul>
		</div>
	</wired-card>
  	
  	
  	<div class="error-message">{{error}}</div>
  
</wired-card>
{% endblock %}
{% block script %}
<script>
	const socket = io.connect('/room', { // 네임스페이스
		path: '/socket.io',
	});
	
  	const button = document.querySelectorAll(".join-btn");
	  
	function addBtnEvent(e) { // 방 입장 클릭 시
		location.href="/chat" ;
  	}

	document.querySelectorAll('.join-btn').forEach(function (btn) {
    	btn.addEventListener('click', addBtnEvent);
  	});

	window.onload = () => {
		if (new URL(location.href).searchParams.get('error')) {
		alert(new URL(location.href).searchParams.get('error'));
		}
  	};
</script>
{% endblock %}