{% extends 'layout.html' %}

{% block content %}
<wired-card class="entire" elevation="5" >
	<h3>게임방 목록</h3>
  	<wired-link href="/single">싱글 모드 하기</wired-link>
  	<wired-link href="/chat">채팅방 입장</wired-link><br><br>
  	<div class="error-message">{{error}}</div>
  
</wired-card>
{% endblock %}
{% block script %}
<script>
	const socket = io.connect('/room', { // 네임스페이스
		path: '/socket.io',
	});
	
  	const button = document.querySelectorAll(".join-btn");
	  
	function addBtnEvent(e) { // 방 입장 클릭 시
		location.href="/chat" ;
  	}

	document.querySelectorAll('.join-btn').forEach(function (btn) {
    	btn.addEventListener('click', addBtnEvent);
  	});

	window.onload = () => {
		if (new URL(location.href).searchParams.get('error')) {
		alert(new URL(location.href).searchParams.get('error'));
		}
  	};
</script>
{% endblock %}