{% extends 'layout.html' %}
{% block content %}

<wired-card class="entire_single" elevation="5" >
	<h3>랭크 Top 10</h3>
	<div id="rank-userName-out"></div><br>
	<div class="horizon-left">
	<table id="left-table" style="width:inherit">
		<thead>
		<tr>
			<th>순위</ht>
			<th>유저 이름</th>
			<th>점수</th>
			<th>시간</th>
		</tr>
		</thead>
		<tbody>
		{% for rank in ranksLeft %}
		<tr>
			{% if rank.dummy %}
				<td>{{loop.index}}</td>
				<td></td>
				<td></td>
				<td></td>
			{% else %}
				<td>{{loop.index}}</td>
				<td>{{rank.user}}</td>
				<td>{{rank.score}}개</td>
				<td>{{rank.time}}초</td>
			{% endif %}
		</tr>
    	{% endfor %}
		</tbody>
	</table>
	</div>
	<div class="horizon-right">
	<table id="right-table" style="width:inherit">
		<thead>
		<tr>
			<th>순위</ht>
			<th>유저 이름</th>
			<th>점수</th>
			<th>시간</th>
		</tr>
		</thead>
		<tbody>
		{% for rank in ranksRight %}
		<tr>
			{% if rank.dummy %}
				<td>{{loop.index + 5}}</td>
				<td></td>
				<td></td>
				<td></td>
			{% else %}
				<td>{{loop.index + 5}}</td>
				<td>{{rank.user}}</td>
				<td>{{rank.score}}개</td>
				<td>{{rank.time}}초</td>
			{% endif %}
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
	<wired-button class="vertical-btn">메인 화면</wired-button>
</wired-card>
{% endblock %}
{% block script %}
<script>
	let userName = sessionStorage.getItem('userName');
	let userTime = sessionStorage.getItem('userTime');
	if(userName != undefined && userName != null && userTime != null){
		const rankUserBox = document.getElementById('rank-userName-out');
		const correctedCount = sessionStorage.getItem('correctedCount');
		const rankUserName = userName;
		const rankUserTime = userTime;
		let text = `자칭 <span id="rank-userName">${rankUserName}</span> 의 결과? <span id="rank-userTime">${correctedCount}개 ${rankUserTime}초</span>`;
		rankUserBox.innerHTML = text;
		sessionStorage.removeItem('userTime');
		sessionStorage.removeItem('correctedCount');
		sessionStorage.removeItem('totalCount');
	}
	
	btn = document.querySelector('wired-button');
	btn.addEventListener('click', function(e){
		location.href = '/';
	});
</script>
{% endblock %}