
{% extends 'layout.html' %}

{% block content %}
<wired-card class="entire" elevation="5" >
<h3>게임방 생성</h3>
    <form action="/room" method="post">
      <div>
        <wired-input elevation="100" class="vertical-align" class="room" type="text" name="title" placeholder="&nbsp&nbsp방 제목">
      </div>
      <div>
        <wired-input elevation="100" class="vertical-align" class="room"type="password" name="password" placeholder="&nbsp&nbsp비밀번호(없으면 공개방)">
      </div>
      <div>
        <wired-button type="submit" elevation="3" class="vertical-align">생성</wired-button>
      </div>
    </form>
</wired-card>
{% endblock %}
{% block script %}
<script>
	const button = document.querySelector("wired-button");

	button.addEventListener("click", (e) => {
		
	})
</script>
{% endblock %}