{% extends 'layout.html' %}
{% block content %}
<wired-card class="entire_single" elevation="5" >
    <h3 class="alone">싱글 게임</h3>
    <div class="hint">
        <wired-card class="first_line container" elevation="5"><span>얘 의외로 사람들이 모르는 궁극기효과:사용하자마자 시전대상침묵걸리면서 정신집중끊음. 사미라가 상대 원딜이면 궁을 아끼다가 궁쓰는 사미라한테 써줍시다.
        </span></wired-card>
        <wired-card class="first_line container" elevation="5"><span>18렙 고정딜 맞아보면 진짜 갈비뼈 부숴지는 느낌임
        </span></wired-card>
    </div>

    <div class="hint">
        <wired-card class="first_line container" elevation="5"><span>TMI) 그웬은 출시 2일만에 히토미에 올라왔다</span></wired-card>
        <wired-card class="first_line container" elevation="5"><span>제드 유저 난이도 부심 관련 얘기가 있는데 난 제드 유저들이 이해가 감. 여기 팁창이 솔직히 다른 팁창에 비해 난이도고 성능이고 억까가 심하긴 하잖슴.
            내가 보기엔 여기 있는 제드 유저들이 난이도 부심을 갖게된건 이런 억까 때문에 이렇게 된거 같음.
            제드유저한테 뭐라하기 전에 이런 억까들 부터 고쳐야 한다고 봄 나는. 그럼 제드 유저들도 난이도 부심 덜 부릴 수도 있잖슴. 솔직히 여기 있는 제드 유저들 대부분은 착한거 같은데</span></wired-card>
    </div>

    <div class="who">
        <wired-card class="second_line" elevation="5"><span>누구일까요?</span></wired-card>
        <wired-button elevation="3">확인</wired-button>
        <wired-input type="text" name="title" placeholder="챔피언 입력"> 
    </div>
</wired-card>
{% endblock %}
{% block script %}
<script>
	const socket = io.connect('http://localhost:3000/single', {
		path: '/socket.io',
	});
	socket.emit('make');

	btn = document.querySelector('wired-button');
	insertedAnswer = document.querySelector('wired-input').value;

	// function addConfirmEvent(e) {
	//  e.preventDefault();
	// 	socket.emit('correct', insertedAnswer);
	// 	socket.on('correct', function(data) {
	// 		if(data === 'corrected'){
	// 			socket.emit('make');
	// 		}
	// 		else {
	// 			socket.emit('exit');
	// 		}
	// 	})
	// btn.addEventListener('click', addConfirmEvent);	
		
	socket.on('get', function(data) { // 문제 가져옴
		console.log('get Data:' );

		// const quizSet = document.querySelectorAll('.hint wired-card')
		// console.log('quizSet client: ' + quizSet);
		// quizSet.forEach(function(area) {
		// 	area.innerHTML(data[0])
		// });
  	});
</script>
{% endblock %}