{% extends 'layout.html' %}
{% block content %}
<wired-card class="entire_single" elevation="5" >
    <h3 class="alone">싱글 게임</h3>
    <div class="hint">
        <textarea class="first_line container" disabled elevation="5"></textarea>
        <textarea class="first_line container" disabled elevation="5"></textarea>
    </div>

    <div class="hint">
        <textarea class="first_line container" disabled elevation="5"></textarea>
        <textarea class="first_line container" disabled elevation="5"></textarea>
    </div>

    <div class="who">
        <wired-card class="second_line" elevation="5"><span>누구일까요?</span></wired-card>
        <wired-button elevation="3">확인</wired-button>
        <wired-input type="text" name="title" placeholder="챔피언 입력"> 
    </div>

    <div class="exit">
        <wired-dialog-demo>
            <wired-button elevation="3" id="lobby">로비로 돌아가기</wired-button>
            <wired-dialog class="hidden" open>
                <div id="appear" >
                    <p>정말 나가실건가요?</p>
                    <wired-button id="go_out" onclick="location.href='http://localhost:3000/lobby'">나가기</wired-button>
                    <wired-button id="leave">계속 하기</wired-button>
                </div>
                
            </wired-dialog>
        </wired-dialog-demo>
    </div>
</wired-card>
{% endblock %}
{% block script %}
<script>
	console.log(sessionStorage.getItem('userName'));
	const socket = io.connect('http://localhost:3000/single', {
		path: '/socket.io',
	});

	sessionStorage.setItem('correctedCount', 0);
	sessionStorage.setItem('totalCount', 0);
	let randomIndex;

	// 문제 가져옴
	socket.emit('make');
	socket.on('get', function(quizSet) { 
		let data = quizSet.quizSet1;
		randomIndex = quizSet.randomtestIndex;
		const hintcard = document.querySelectorAll('.hint textarea');
		for(let i=0; i< 4;i++){
			hintcard[i].innerHTML = data[i].content;
		}
		let totalCount = sessionStorage.getItem('totalCount');
		sessionStorage.setItem('totalCount', parseInt(totalCount) + 1);
  	});

	// 확인 버튼
	function addConfirmEvent(e) {
		console.log(`확인버튼 누름`);
		const insertedAnswer = document.querySelector('wired-input').value;
		
		socket.emit('answer', insertedAnswer, randomIndex);
		socket.on('correction', function(data) {
			let totalCount = sessionStorage.getItem('totalCount');
			console.log(`채점결과 : ${data}`);
			if(totalCount <= 10 ){
				if(data === 'right'){
					let correctedCount = sessionStorage.getItem('correctedCount');
					sessionStorage.setItem('correctedCount', parseInt(correctedCount) + 1);
				}
				alert(`문제 푸는 중\n ${totalCount} 중 ${sessionStorage.getItem('correctedCount')}개 맞았습니다`);
				if(totalCount == 10){
					let userName = sessionStorage.getItem('userName');
					let score = sessionStorage.getItem('correctedCount');
					let time = 3;
					alert(`문제 다 풀었다! finish 이벤트 전송합니다`);
					socket.off('correction');  //소켓이벤트 중복 실행방지. 버튼 이벤트 발생시 해당 이벤트가 계속 추가되어 발생
					socket.emit('finish', (userName, score, time));
				}
				else{
					socket.off('correction');  //소켓이벤트 중복 실행방지. 버튼 이벤트 발생시 해당 이벤트가 계속 추가되어 발생
					socket.emit('make');
				}
			}
		})
	}
	const btn = document.querySelector('wired-button');
	btn.addEventListener('click', addConfirmEvent);	

    const button = document.getElementById("lobby");
    const dialog = document.querySelector("wired-dialog");
    const leave = document.getElementById("leave");
    const go_out = document.getElementById("go_out");

    button.addEventListener("click" , () => {
        dialog.classList.remove("hidden");
    });

    leave.addEventListener("click" , () => {
        dialog.classList.add("hidden");
    });
</script>
{% endblock %}