@import url(https://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

body {
    margin:0;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 25px;
    line-height: 1.8;
}

body {
  font-size: 30px;
  font-family: "Nanum Brush Script", serif;
  line-height: 3;
  color: #888;
}

div .frame {
  height: 900px;
  padding: 16px;
  text-align: center;
}

wired-card {
  width: 540px;
  height: 680px;
  margin: 140px auto;
  padding: 20px;
  display: block;
}

wired-button {
  margin: 8px;
  font-size: 20px;
  
  /* 버튼 세로 정렬 */
  position:absolute;
  top:120%; left:50%; 
  transform: translate(-50%, -50%);
}

wired-card.nickname {
  width: 300px;
  height: 80px;
  font-family: inherit;
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
}

h3 {
  font-size: 50px;
  text-align: center;
}

.hidden {
  display: none;
}

p {
    text-align: center;
    height: 40px;
}













