
@import url(https://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

body {
  font-size: 30px;
  font-family: "Nanum Brush Script", serif;
  line-height: 3;
}

wired-card {
  width: 540px;
  height: 680px;
  margin: 140px auto;
  padding: 20px;
  display: block;
  text-align: center;
}

wired-card .nickname {
    width: 300px;
    height: 80px;
    font-family: inherit;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
}

wired-input.room {
	width: 70%;
	font-family: inherit;
	text-align: center;
}

#choice {
  margin: 8px;
  font-size: 20px;
  
  /* 버튼 세로 정렬 */
  position:absolute;
  top:120%; left:50%; 
  transform: translate(-50%, -50%);
}

h3 {
  font-size: 50px;
  text-align: center;
}

h2 {
  text-align: center;
}

.hidden {
  display: none;
}

p {
    text-align: center;
    height: 40px;
}

* {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
	line-height: 1.8;
 }

table, table th, table td {
	text-align: center;
	border: 1px solid silver;
	border-collapse: collapse;
    margin : auto;
}