@import url(https://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

body {
  font-size: 30px;
  font-family: "Nanum Brush Script", serif;
  line-height: 3;
}

wired-card {
  width: 540px;
  height: 680px;
  margin: 140px auto;
  padding: 20px;
  display: block;
  text-align: center;
}

wired-card.nickname {
    width: 300px;
    height: 80px;
    font-family: inherit;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
}

wired-input.room {
	width: 70%;
	font-family: inherit;
	text-align: center;
}

wired-button#choice {
  margin: 8px;
  font-size: 20px;
  
  /* 버튼 세로 정렬 */
  position:absolute;
  top:120%; left:50%; 
  transform: translate(-50%, -50%);
}

h3 {
  font-size: 50px;
  text-align: center;
}

h2 {
  text-align: center;
}

.hidden {
  display: none;
}

* {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
	line-height: 1.8;
 } */
div#vertical-center {
	text-align: center;
	margin: auto;	
}

table, table th, table td {
	text-align: center;
	border: 1px solid silver;
	border-collapse: collapse;
    margin : auto;
}

/***************************** 싱글 화면 css *********************/
.entire_single {
  width: 800px;
  height: 750px;
  margin: 70px auto;
  padding: 20px;
  display: block;
}

.alone {
 margin: 0;
 height: 20px;
}

.hint {
  height: 200px;
  margin: 0;
}

.who {
  height: 200px;
  margin-top: 70px;
  padding: 0;
}

.first_line {
  width: 350px;
  height: 150px;
  display: inline-block;
  border: 0;
  outline: 0;
}

.second_line {
  width: 250px;
  height: 40px;
  display: inline-block;
  margin-right: 100px;
}

/* 스크롤바 부분 */
.container {
  overflow: auto;
}
.container::-webkit-scrollbar {
  width: 10px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.container::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
/*****************************************************************/



